$nui-base-line: 8px;

$nui-base-border-radius: 2px;
$nui-large-border-radius: 4px;

/*colors*/
/*flatuicolors.com lib*/
$nui-colors: ( 
    base: #2c3e50, //midnight blue
    default: #95a5a6,
    primary: #3498db //peter river
);