
$shadow-color: #000;

@mixin nui-depth ($depthlevel: 1) {
	@if ($depthlevel == 1) {
		box-shadow: 0 1px 1px 0 rgba($shadow-color, .12), 0 1px 1px 0 rgba($shadow-color, .24);
	}

	@if ($depthlevel == 2) {
		box-shadow: 0 3px 3px 0 rgba($shadow-color, .16), 0 3px 3px 0 rgba($shadow-color, .23);
	}

	@if ($depthlevel == 3) {
		box-shadow: 0 10px 10px 0 rgba($shadow-color, .19), 0 6px 3px 0 rgba($shadow-color, .23);
	}

	@if ($depthlevel == 4) {
		box-shadow: 0 14px 14px 0 rgba($shadow-color, .25), 0 10px 5px 0 rgba($shadow-color, .22);
	}

	@if ($depthlevel == 5) {
		box-shadow: 0 19px 19px 0 rgba($shadow-color, .3), 0 15px 6px 0 rgba($shadow-color, .22);
	}
}
